@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


  /*applies to whole page*/
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    background-color: #f5efdf;
}

/* Headers and text */

/* Orange subheader */
h1 {
    font-size: 4rem;
    font-family: "Lobster", sans-serif;
    color: #C03F1D;
}

/* Retro black header */
h2 {
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
    color: black;
}

/* Retro sub headers on cards */
h3 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    color: black;
    text-align: center;
}


/* paragraph font */
p {
    font-family: "Merriweather", serif;
    font-weight: 300;
    color: black;
}


.top-margin {
    margin-top: 10rem;
}


/* Center class */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*navigation*/

.navbar-toggler {
    background-color: rgb(57, 57, 57);
}

.nav-bg {
    background-color:  #212529;
    padding: 0.8rem;
}

.nav-title {
    font-family: "Stint Ultra Condensed", serif;
    color: #bbbbbb;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
}

.nav-item {
    margin-right: 12rem;
    display: flex;
}


.navactive {
    /* border-bottom: 2px solid #F4F2EF; */
    color: white;
    text-decoration-line: underline;
}

.navactive .nav-title {
    color: white;
}

a:hover {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}


.carousel-bg {
    /* background-color: #e3d8c0; */
    padding: 1rem;
}

.home-bg {
    background-color: #D7C294;
    height: 70vh;
    /* width: 100%; */
    /* padding: 3rem; */
    position: relative; /* To position the jumbotron-border-home absolutely within this container */
  }

/* Jumbotron classes */
.jumbotron {
    background-color: #E0D1AF;
    padding: 1rem;
    position: relative;
    height: 48%;
}


.jumbotron-border {
    border: 2px solid black;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    position: absolute;
    bottom: -48px;
    /* Position the box vertically */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 3rem;
    box-shadow: 5px 5px rgb(126, 126, 126);
    text-align: center;
    width: 30%; /* Adjust width to content */
    height: 17%; /* Adjust height to content */
    padding-right: 2rem;
}


.jumbotronImage {
    width: 28%;
}

.jumbotronIcon {
    width: 25%; 
    /* margin-right: 0.5rem; */
}

  
  .flex-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  
  .flex-item {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  
  .flex-item .icon {
    width: 3rem; /* Adjust the size of your icon */
    margin-right: 0.5rem;
  }
  



/* cards */
.motorbike-card-home {
    border: black solid 3px;
    border-radius: 0%;
    box-shadow: 7px 7px rgb(146, 146, 146);
    background-color: #EBDEC0;
}




.placeholder {
    width: 20%; 
    margin-top: 2rem;
}

/* Contact Form */

.contactForm {
    background-color: #E9F3F1;
    margin: 3rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-style: double;
    border-width: 0.5rem;

}

.formLabel input {
    border: 1px solid black;
    border-radius: 0px;
}

.formLabel textarea {
    border: 1px solid black;
    border-radius: 0px; 
    padding: 2.5rem;
    
}

.formLabel {
    font-size: 1.8rem;
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 100px;

}


.para {
    font-family: "Merriweather", serif;
    font-weight: 100;
    color: black;
}

.formBtn {
    text-align: center;
    background-color: #2F3539;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.7rem;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.formBtn:hover {
    color: white;
    background-color: #aa8e4c;
}


/* .formLabel label, .formLabel input, .formLabel select, .formLabel span {
    margin: 0;
    padding: 0;
} */


.checkBox {
    width: 2rem;
    height: 2em;
    border-radius: 0rem;
    border: 1px solid black;
}


#gridCheck:checked ~ body {
    background-color: black;
  }

/* Media queries */

    /* Media query for phone*/
    @media (max-width: 600px) {

        /* .jumbotron {
            height: 35%;
        } */

        .jumbotronImage {
            width: 100%; 
        }

        .jumbotron-border {
            width: 70%;
            font-size: 3rem;
            bottom: -50px;
            padding: 1rem;
        }
        .jumbotronIcon {
            width: 30%; 
        }

        .home-bg {
            width: 100%;
            height: 70vh;
        }

        .placeholder {
            width: 90%;
        }
    }


    /* .carousel-item img {
        width: 100%;
        height: auto;
    } */

    @media (max-width: 768px) {
        .carousel-item>div {
            margin-top: 18rem;
            display: none;
        }

        .redMoto {
            height: 50%;
        }

        .carousel-item>div:first-child {
            display: block;
        }
    }





/* kindle size */
    /* @media (max-width: 900px) {

        .jumbotronImage {
            width: 50%; 
        }

        .jumbotron-border {
            width: 70%;
            font-size: 2.5rem;
            bottom: -50px;
            padding: 1rem;
        }
        .jumbotronIcon {
            width: 10%; 
            margin-right: 1rem; 
        }
    } */