@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/*applies to whole page*/
html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    background-color: #f6f3ed;
}

/* HEADERS AND TEXT */
h1 {
    font-size: 4rem;
    font-family: "Lobster", sans-serif;
    color: #C03F1D;
}

h2 {
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
    color: black;
}

h3 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    color: black;
    text-align: center;
}

.titleWithImage {
    font-size: 4rem;
    font-family: "Lobster", sans-serif;
    color: #C03F1D;
}

.titleWithImageRest {
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
    color: black;
}

/* paragraph font */
p {
    font-family: "Merriweather", serif;
    font-weight: 300;
    color: black;
    font-size: 1.2rem;
}

.centerpara {
    font-family: "Merriweather", serif;
    font-weight: 300;
    color: black;
    font-size: 1.2rem;
    text-align: center;
}

/* MARGINS */
.top-margin {
    margin-top: 10rem;
}

.upperMargin {
    margin-top: 6rem;
}

.upperMarginRest {
    margin-top: 5rem;
}

.upperMarginSmall {
    margin-top: 3rem;
}


/* Center class */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*NAVIGATION SECTION*/
.navbar-toggler {
    background-color: rgb(57, 57, 57);
}

.nav-bg {
    background-color: #2F3539;
    padding: 0.4rem;
}

.nav-title {
    font-family: "Stint Ultra Condensed", serif;
    color: #bbbbbb;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

.navactive {
    color: white;
    text-decoration: none;
}

.navactive .nav-title {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}



/* JUMBOTRON SECTION */
.jumbotron {
    background-color: #E0D1AF;
    padding: 1rem;
    position: relative;
    height: 48%;
}


.jumbotron-border {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -48px;
    /* Position the box vertically */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 2.8rem;
    box-shadow: 5px 5px rgb(126, 126, 126);
    text-align: center;
    width: 30%;
    /* Adjust width to content */
    height: 16%;
    /* Adjust height to content */
    padding-right: 2rem;
}


.jumbotronImage {
    width: 28%;
}

.jumbotronIcon {
    width: 25%;
}


/* CAROUSEL */
.carousel-bg {
    padding: 0.5rem;
}

.carousel-item img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.carouselMain {
    display: block;
}

.carouselMobile {
    display: none;
}


/* HOME PAGE */
.home-bg {
    background-color: #D7C294;
}

.motoLogo {
    width: 50%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.redMoto {
    width: 90%;
    height: 100%;
    float: right;
}

.redMoto2 {
    width: 100%;
    height: 100%;
    display: none;
}

.formBtnHome {
    text-align: center;
    background-color: #2F3539;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 2rem;
    color: white;
    width: 30%;
    border-radius: 5px;
    padding: 0;
    margin-top: 0.5rem;
    text-decoration: none;
}

.formBtnHome a {
    color: white;
}

.formBtnHome:hover {
    color: white;
    background-color: #aa8e4c;
}




/* BIKE WINNNER */
.bikeWinnerCard {
    background-color: #EDE7CD;
    border: 1.5px solid black;
    border-radius: 0%;
    padding: 1em;
    /* box-shadow: 7px 7px 3px rgb(103, 103, 103); */
}

.bikeWinnerImg {
    object-fit: cover;
    height: 16em;
    border: 1px solid black;
    border-radius: 0px;
}

.card-title-winner {
    font-family: "Merriweather", serif;
}

.tankSealing {
    background-color: #E9F3F1;
    border: 1.5px solid black;
    padding: 1.5rem;
    box-shadow: 7px 7px 4px rgb(127, 127, 127);
}



/* RESTORATIONS */
.restorationsBg {
    background-color: #EDE7CD;
    border: 1.5px solid black;
    padding: 2rem;
    box-shadow: 7px 7px 4px rgb(127, 127, 127);
}

.restorationsPadd {
    padding: 5px;
}


/* TESTIMONIALS SECTION */
.testimonialText {
    background-color: white;
    padding: 1rem;
    box-shadow: 6px 6px 3px rgb(179, 179, 179);
}

.testimonialPara {
    font-family: "Merriweather", serif;
    color: black;
    font-size: 0.95rem;
}

.testimonialmuted {
    font-family: "Merriweather", serif;
    color: rgb(95, 95, 95);
    font-size: 0.8rem;
    float: right;
}

.testimonialBg {
    background-color: #E9F3F1;
    border: 1.5px solid black;

}

.testimonialImg {
    object-fit: cover;
    height: 13rem;
    border: 1px solid black;
}

.double-border::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 4px solid black;
    pointer-events: none;
}


/* RESTORATIONS PAGE */
.restorationStyle {
    border: 2px solid black;
}

.goldBg {
    background-color: #EDE7CD;
}


/* CONTACT FORM */
.contactForm {
    background-color: #E9F3F1;
    margin: 2rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-width: 0.4rem;
    border-style: double;

}

.formLabel input {
    border: 0.5px solid black;
    border-radius: 0px;
}

.formLabel textarea {
    border: 0.5px solid black;
    border-radius: 0px;
    padding-bottom: 2.5rem;
}

/* title above the label */
.formLabel {
    font-size: 1.8rem;
    font-family: "Stint Ultra Condensed", serif;
}

/* input text */
.para {
    font-family: "Merriweather", serif;
    color: black;
    text-indent: 5px;
}

/* input text */
.paraTextBox {
    font-family: "Merriweather", serif;
    color: black;
    text-indent: 2px;
}

.formBtn {
    text-align: center;
    background-color: #2F3539;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.7rem;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.formBtn:hover {
    color: white;
    background-color: #aa8e4c;
}




/* .formLabel label, .formLabel input, .formLabel select, .formLabel span {
    margin: 0;
    padding: 0;
} */


.checkBox {
    width: 2rem;
    height: 2em;
    border-radius: 0rem;
    border: 1px solid black;
}


#gridCheck:checked~body {
    background-color: black;
}

.comingSoon {
    width: 20%;
    margin-top: 2rem;
}


/* FOOTER */
.footer {
    background-color: #2F3539;
    color: #fff;
    padding: 5px 0px;
    border-top: 2px solid black;
}

.page-footer {
    background-color: #2F3539;
}

.page-footer p,
.page-footer a {
    color: white;
    font-size: 15px;
    text-decoration: underline;
    font-family: "Merriweather", serif;
    margin: 0;
    /* Ensure there's no additional margin */
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-center {
    display: flex;
    align-items: center;
}

.contact-center img {
    margin-right: 0.5rem;
}



.jockeyManDiv {
    position: absolute;
    float: right;
    left: 0;

}

.jockeyMan {
    float: right;
    left: 0;
}



/* BUTTONS */
.motoBtn {
    text-align: center;
    background-color: #2F3539;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.7rem;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 0px;
}

.motoBtn a {
    color: white;
}


.motoBtn:hover {
    text-align: center;
    background-color: #aa8e4c;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.7rem;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 0px;
}


/* GALLERY */
.motoGallery {
    column-count: 4;
}

.galleryStyle {
    border: 1.5px solid black;
    border-radius: 0px;
    box-shadow: 5px 5px rgb(181, 181, 181);
}







/* Media queries */

@media (min-width: 1200px) {
    .jumbotronImage {
        width: 25%;
        /* padding-bottom: 2rem; */
    }
}

@media (max-width: 992px) {
    .motoGallery {
        column-count: 4;
    }
}

@media (max-width: 768px) {
    .motoGallery {
        column-count: 3;
    }
}


/* Media query for phone*/
@media (max-width: 600px) {

    /* COVER PAGE mobile */
    .redMoto {
        height: 100%;
        display: none;
    }

    .redMoto2 {
        height: 100%;
        display: block;
    }

    .motoLogo {
        width: 80%;
    }

    .carouselMobile {
        display: block;
        margin-top: 10rem;
    }

    .carouselMain {
        display: none;

    }

    .home-bg {
        width: 100%;
        height: 70vh;
    }


    /* JUMBOTRON mobile */
    .jumbotronImage {
        width: 100%;
    }

    .jumbotron-border {
        width: 70%;
        font-size: 2rem;
        bottom: -50px;
        padding: 1rem;
    }

    .jumbotronIcon {
        width: 30%;
    }


    /* FOOTER */
    .footerLogo,
    .contact-info {
        text-align: center;
        padding: 0.5em;
    }

    .contact-center {
        justify-content: center;
    }

    .footerLogo {
        width: 70%;
    }

    .jockeyImgFooter {
        width: 0%;
    }


    /* GENERIC CLASSES mobile */
    .mobileCard {
        margin-top: 2rem;
    }

    .tankMobileCard {
        width: 80%
    }

    /* small images mobile */
    .racingImg {
        width: 15%;
    }

    /* PRODUCTS mobile */
    .comingSoon {
        width: 90%;
    }


    /* TITLES mobile */
    .titleWithImage {
        font-size: 3rem;
        padding: 0%;
    }

    .titleWithImageRest {
        font-size: 2.5rem;
        text-align: center;
        font-family: "Lobster", sans-serif;
        color: black;
    }

    .h1Title {
        font-size: 3rem;
    }


    /* GALLERY mobile */
    .gallery {
        padding: 20px;
    }

    .motoGallery {
        column-count: 2;
    }


    /* CONTACT FORM mobile */
    .contactForm {
        background-color: #E9F3F1;
        margin: 0rem;
        padding: 1rem;
    }

    /* OTHER */
    .restorationsAlterImg2 {
        width: 70%;
    }

    .restorationsAlterImg {
        width: 85%;
    }

    .motorbike-animation {
        width: 100%;
    }

    /* .phoneMobile {
        margin-left: 9rem;
        padding-top: 1em;
    }

    .emailMobile {
        margin-left: 5rem
    }

    .facebookMobile {
        margin-left: 8.5rem
    } */
}